{% extends 'home_base.html' %}
{% block title %}Forgot Password - JKUSOS{% endblock %}

{% block content %}
<div class="container py-5">
  <h2 class="mb-4 text-center text-primary">Forgot your password?</h2>
  <p class="text-center mb-4">Enter your email address and we’ll send you a link to reset your password.</p>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid">
          <button type="submit" class="btn btn-success">Send Reset Email</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
